
@section html{
<br />
<br />
<br />
<br />
<br />
    <h2>Edgewater eLearning Management System</h2>
    <br />
    <br />
    <div class="mb-5 element-animate">
        <p class="lead"></p>
        @*<p><a href="@Url.Action("Login", "Account")" class="btn" style="background: #1e2141;; font-size:22px; font-family: Source Sans Pro, arial, sans-serif;"> Log In To Start Courses</a></p>*@
    </div>

}


<!-- END section -->

<section class="site-section">
    <div class="container">
        <section class="school-features text-dark d-flex">
            <div class="inner">
                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-video-call"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Online trainings from experts</h3>
                        <p>Our extensive library of courses will keep you on top of your professional development and compliant with your state licensing requirements.</p>
                    </div>
                </div>
                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-student"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Complete Your CE Hours Anywhere</h3>
                        <p>Prefer Your Mobile Device? We’ve Got You Covered— Edgewater is dedicated to making CEs as effortless as possible. To further that goal, we’ve ensured that our system is compatible with tablets and mobile phones, to enable our learners to take their CEs on their mobile devices—anytime, anywhere.</p>
                    </div>
                </div>
                <div class="media d-block feature">
                    <div class="icon"><span class="flaticon-video-player-1"></span></div>
                    <div class="media-body">
                        <h3 class="mt-0">Video Learning</h3>
                        <p>Watch instructive videos related to important nursing topics</p>
                    </div>
                </div>
            </div>
        </section>      
   </div>
</section>
<!-- END section -->
<section class="section-cover" data-stellar-background-ratio="0.5" style="background-image: url(/Content/images/augustine-wong-li0iC0rjvvg-unsplash.jpg);">
    <div class="container">
        <div class="row justify-content-center align-items-center intro">
            <div class="col-md-7 text-center element-animate">
                <h2 style="color:black;">Register With Your Edgewater Email Account to Complete Your Continuing Education</h2>
                <p class="lead mb-5" style="color:#3d466a">Complete all of your CE hours in one convenient place! All RNs are required to complete six (6) courses per calendar year. </p>
                <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary">Register New Account</a></p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->



